body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  gap: 12px;
}

#wrapper > * {
  background-color: lightblue;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
  color: gray;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  color: #333;
}

main div {
  margin: 1em;
  padding: 1em;
  background-color: yellow;
  height: 67vh;
  color: #333;
  font-weight: normal;
}

footer {
  height: 200px;
}

header {
  position: relative;
  min-height: 80px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  height: 64px;
  line-height: 64px;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  #menu:hover + nav {
    display: block;
    text-align: right;
  }

  #menu:hover + nav li {
    display: block;
    margin: 0.6em;
  }
}

@media screen and (min-width: 769px) {
  #menu {
    display: none;
  }

  #wrapper {
    grid-template-columns: 200px 1fr;
  }

  header,
  footer {
    grid-column: 1 / -1;
  }
}
