body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  gap: 12px;
}

#wrapper > * {
  background-color: lightblue;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
  color: gray;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  color: #333;
}

main div {
  margin: 1em;
  padding: 1em;
  background-color: yellow;
  height: 67vh;
  color: #333;
  font-weight: normal;
}

footer {
  height: 200px;
}
